// COLOR AWATCH

/********* Primary Colors ***********/
$color-blue : #2EB6AE;
$color-black : #000000;
$color-white : #ffffff;

/********** Secondary Colors ********/

$color-white-shade : #FAFAFA;
$color-grey-shade : #F2F2F2;
$color-grey : #CCCCCC;
$color-dark-grey : #B1B1B1;
$color-dark-grey-shade : #999999;
$color-light-black : #666666;
$label-error : #BE0000;
/********** More Colors ********/

$color-pink : #FF7285;
$color-light-orange : #FFC474;

// TYPOGRAPHY

/******** Headings **********/
$heading1:48px;
$heading2:36px;
$heading3:30px;
$heading4:28px;
$heading5:24px;
$heading6:20px;
$default-text: 16px;


// OTHERS
$btn-disabled-blue:#96DAD6;
$btn-disabled-grey:#D8D8D8;
$border-radius: 4px;

// ALERTS / ERROR HANDLING
$success:#75CF0F;
$informational:#35C4FC;
$warning:#FFB70A;
$error:#F33951;









